<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org">

<!-- Include the head fragment -->
<head th:replace="~{html-commons/head :: fg-head(title='Add Expenditure')}"></head>

<body>
<!-- Include the sidebar fragment -->
<div class="app">

    <aside th:replace="~{html-commons/sidebar :: fg-sidebar}"></aside>
    <!-- Main -->
    <main>

        <!-- Topbar -->
        <div th:replace="~{html-commons/topbar :: fg-topbar}"></div>

        <div class="content">

            <div class="container mt-4">

                <!-- Body header (no user icon here) -->

                <div class="card-ui p-4">
                    <div class="page-header">
                        <div class="title">New Expenditure</div>
                    </div>
                    <hr>
                        <form id="new-form">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="new-description" class="form-label">Description <span
                                            class="badge bg-primary"> (Default: Registro manual)</span></label>
                                    <input type="text" class="form-control" id="new-description" value=""
                                           maxlength="60">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="new-payee" class="form-label">Payee</label>
                                    <input type="text" class="form-control" id="new-payee" maxlength="60">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="new-currency" class="form-label">Currency</label>
                                            <select name="new-currency" id="new-currency" class="form-select">
                                                <option value="PEN" selected="selected">PEN</option>
                                                <option value="USD">USD</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="new-amount" class="form-label">Amount <span
                                                    class="badge bg-primary">(Min val: 1)</span></label>
                                            <input type="number" step="0.01" class="form-control" id="new-amount">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="new-transactionDate" class="form-label">Transaction Date</label>
                                            <input type="datetime-local" class="form-control" id="new-transactionDate">
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="installmentsCheckbox" class="form-label">Installments?</label>
                                            <label class="switch">
                                                <input type="checkbox" id="installmentsCheckbox" name="installments"
                                                       value="false">
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 mb-3" id="totalInstallmentsContainer"
                                             style="display: none;">
                                            <label for="totalInstallmentsInput" class="form-label">Total</label>
                                            <input type="number" id="totalInstallmentsInput" name="totalInstallments"
                                                   class="form-control"
                                                   maxlength="48" value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3 mb-3">
                                            <label for="sharedCheckbox" class="form-label">Shared?</label>
                                            <label class="switch">
                                                <input type="checkbox" id="sharedCheckbox" name="shared" value="false">
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="lentCheckbox" class="form-label">Lent?</label>
                                            <label class="switch">
                                                <input type="checkbox" id="lentCheckbox" name="lent" value="false">
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-6 mb-3" id="lentToContainer" style="display: none;">
                                            <label for="lentToInput" class="form-label">Lent to <span
                                                    class="badge bg-primary">(Default value: Amor)</span></label>
                                            <input type="text" id="lentToInput" name="lentTo" class="form-control"
                                                   maxlength="36">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="wasBorrowCheckbox" class="form-label">Was borrowed?</label>
                                            <label class="switch">
                                                <input type="checkbox" id="wasBorrowCheckbox" name="lent" value="false">
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-6 mb-3" id="borrowedFromContainer" style="display: none;">
                                            <label for="borrowedFromInput" class="form-label">Borrowed from <span
                                                    class="badge bg-primary">(Default value: Amor)</span></label>
                                            <input type="text" id="borrowedFromInput" name="lentTo" class="form-control"
                                                   maxlength="36">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3 mb-3">
                                            <label for="forDaughterCheckbox" class="form-label">For daughter?</label>
                                            <label class="switch">
                                                <input type="checkbox" id="forDaughterCheckbox" name="forDaughter"
                                                       value="false">
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 mb-3">

                                        </div>
                                        <div class="col-md-6 mb-3" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="new-attachment" class="form-label">Attachment</label>
                                            <input type="file" class="form-control" id="new-attachment">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label class="form-label">Sub Category</label>
                                    <div id="category-container"
                                         class="row"
                                         style="max-height: 300px; overflow-y: scroll">

                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3 pb-2 justify-content-center">
                                <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-8 text-center">
                                    <button type="button" class="btn btn-lg btn-primary w-100 py-3 rounded-pill"
                                            id="save-changes">
                                        Save changes
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Toast Container -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" id="errorToastTitle"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="errorToastBody"></div>
    </div>
</div>

<!-- Include the scripts fragment -->
<div th:replace="~{html-commons/scripts :: fg-js}"></div>
<script>
    const defaultValueForLentAndBorrowed = 'Amor';

    function resetFormAndInitWithParams() {
        $('#new-form')[0].reset();
        document.getElementById('new-transactionDate').value = generateDateTimeNowFormatted();
        document.getElementById('new-description').value = 'Registro manual';
        $("#lentToContainer").hide();
        $("#borrowedFromContainer").hide();
        $("#totalInstallmentsContainer").hide();
    }

    resetFormAndInitWithParams();
</script>
<script>
    $(document).ready(function () {
        const apiEndpoint = "/eureka/finance-app/expenditure";
        const subCategoryEndpoint = "/eureka/finance-app/sub-category";

        // Show/hide lentTo input based on lent checkbox
        $("#lentCheckbox").on("change", function () {
            if ($(this).is(":checked")) {
                $("#lentToContainer").show();
                $("#lentToInput").val(defaultValueForLentAndBorrowed);
            } else {
                $("#lentToContainer").hide();
                $("#lentToInput").val('');
            }
        });

        // Show/hide lentTo input based on lent checkbox
        $("#wasBorrowCheckbox").on("change", function () {
            if ($(this).is(":checked")) {
                $("#borrowedFromContainer").show();
                $("#borrowedFromInput").val(defaultValueForLentAndBorrowed);
            } else {
                $("#borrowedFromContainer").hide();
                $("#borrowedFromInput").val('');
            }
        });

        // Show/hide installment input based on installments checkbox
        $("#installmentsCheckbox").on("change", function () {
            if ($(this).is(":checked")) {
                $("#totalInstallmentsContainer").show();
                $("#totalInstallmentsInput").val(1);
            } else {
                $("#totalInstallmentsContainer").hide();
                $("#totalInstallmentsInput").val('');
            }
        });

        let newAttachmentBase64 = null;

        $("#new-attachment").on("change", function (event) {
            const file = event.target.files[0];
            if (file && ["image/jpeg", "image/png", "image/jpg", "image/heic"].includes(file.type)) {
                if (file.type === "image/heic") {
                    // For simplicity, just alert unsupported format
                    alert("HEIC format not supported in this form. Please upload JPG or PNG.");
                    $(this).val("");
                    newAttachmentBase64 = null;
                } else {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        newAttachmentBase64 = e.target.result.split(",")[1];
                    };
                    reader.readAsDataURL(file);
                }
            } else {
                newAttachmentBase64 = null;
                $("#new-attachment").val("");
                alert("Please upload a valid image file (JPG, JPEG, PNG).");
            }
        });

        // Fetch subcategories and populate the category container
        $.ajax({
            url: subCategoryEndpoint,
            method: 'GET',
            success: function (subCategories) {
                generateCatAndSubCat(subCategories);
            },
            error: function (error) {
                console.error("Error fetching subcategories:", error);
                showErrorToast(error.status, error.responseJSON.message);
            }
        });

        // Save changes
        $("#save-changes").on("click", function () {
            const subCategoryId = $("input[name='subCategory']:checked").val();
            const shared = $("#sharedCheckbox").is(":checked");
            const lent = $("#lentCheckbox").is(":checked");
            const lentTo = lent ? $("#lentToInput").val() : null;
            const wasBorrowed = $("#wasBorrowCheckbox").is(":checked");
            const borrowedFrom = wasBorrowed ? $("#borrowedFromInput").val() : null;
            const financed = $("#installmentsCheckbox").is(":checked");
            const installments = financed ? $("#totalInstallmentsInput").val() : 1;
            const forDaughter = $("#forDaughterCheckbox").is(":checked");

            const data = {
                description: $("#new-description").val(),
                payee: $("#new-payee").val(),
                currency: $("#new-currency").val(),
                amount: $("#new-amount").val(),
                transactionDate: $("#new-transactionDate").val(),
                subCategoryId: subCategoryId,
                shared: shared,
                lent: lent,
                lentTo: lentTo,
                wasBorrowed: wasBorrowed,
                borrowedFrom: borrowedFrom,
                installments: installments,
                forDaughter: forDaughter,
                attachment: newAttachmentBase64
            };

            $.ajax({
                url: `${apiEndpoint}`,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    showSuccessToast(response);
                    resetFormAndInitWithParams();
                    $("#new-attachment").val("");
                    newAttachmentBase64 = null;
                },
                error: function (error) {
                    console.error("Error adding expenditure:", error);
                    showErrorToast(error.status, error.responseJSON.message);
                }
            });
        });

    });

</script>
</body>

</html>